{
    "env": {
        "commonjs": {
            "presets": [
                "env",
                "stage-2"
            ],
            "plugins": [
                "transform-runtime"
            ]
        },
        "es6": {
            "presets": [
                [
                    "env",
                    {
                        "modules": false
                    }
                ],
                "stage-2"
            ],
            "plugins": [
                "transform-runtime"
            ]
        },
        "test": {
            "presets": [
                "env",
                "stage-2"
            ],
            "plugins": [
                "transform-runtime"
            ]
        }
    }
}
